#right_col
    .resizer
        position: absolute;
        left: -2px;
        bottom: 0px;

        width: 7px;
        height: 100%;

        z-index: 9001;
        cursor: e-resize;

.ember-chat
    .badges
        display: inline-block;

        .badge
            margin-bottom: 1px;
            border-radius: 2px;
            float: none;

    .chat-interface
        padding: 15px;

        .textarea-contain
            margin-bottom: 5px;

        .more-messages-indicator
            left: 0px;
            right: 0px;
