#small_home a {
  background: url(../icons/logo_navbar_icons.png) no-repeat 0 0; }
  #small_home a:hover {
    background: url(../icons/logo_navbar_icons.png) no-repeat 0px -50px; }
  #small_home a .svg-logo_glitch {
    display: none; }

.bttvSettingsIcon {
  background: url(../icons/bttv_settings.png) no-repeat 0 0px; }
  .bttvSettingsIcon:hover {
    background: url(../icons/bttv_settings.png) no-repeat -18px 0px; }

#bttvSettingsPanel {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -250px;
  margin-left: -400px;
  color: #D3D3D3;
  width: 800px;
  height: 500px;
  z-index: 9002;
  border-radius: 3px;
  border: 1px solid #000;
  background-color: #1e1e1e;
  box-shadow: -1px 0 0 rgba(0, 0, 0, 0.3), -2px 0 0 rgba(0, 0, 0, 0.2), -3px 0 0 rgba(0, 0, 0, 0.1), 1px 0 0 rgba(0, 0, 0, 0.3), 2px 0 0 rgba(0, 0, 0, 0.2), 3px 0 0 rgba(0, 0, 0, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.3), 0 -2px 0 rgba(0, 0, 0, 0.2), 0 -3px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(0, 0, 0, 0.3), 0 2px 0 rgba(0, 0, 0, 0.2), 0 3px 0 rgba(0, 0, 0, 0.1); }
  #bttvSettingsPanel #header {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #282828;
    width: 100%;
    border-bottom: 1px solid #111; }
  #bttvSettingsPanel #footer {
    color: #777;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: #282828;
    bottom: 0px;
    position: absolute;
    width: -moz-calc(100% - 10px);
    width: -webkit-calc(100% - 10px);
    width: calc(100% - 10px);
    padding: 5px;
    border-top: 1px solid #111; }
    #bttvSettingsPanel #footer a {
      color: #ff0000;
      opacity: 0.7;
      font-weight: bold; }
  #bttvSettingsPanel #logo {
    padding: 10px;
    vertical-align: bottom;
    text-shadow: 1px 1px 3px #000;
    font-size: 25px;
    font-family: "Korolev-Bold","HelveticaNeue-CondensedBold","ArialNarrow-Bold","Helvetica Neue",Helvetica,Arial,sans-serif; }
  #bttvSettingsPanel #close {
    font-size: 30px;
    vertical-align: center;
    float: right;
    right: 20px;
    top: 0px;
    position: absolute;
    color: #fff;
    text-shadow: 0 1px 0 #000;
    opacity: 0.2;
    filter: alpha(opacity=20); }
    #bttvSettingsPanel #close:hover, #bttvSettingsPanel #close:focus {
      color: #fff;
      text-decoration: none;
      cursor: pointer;
      opacity: 0.4;
      filter: alpha(opacity=40); }
  #bttvSettingsPanel #bttvSettings {
    font: 12px "Helvetica Neue",Helvetica,Arial,sans-serif; }
  #bttvSettingsPanel .option {
    color: #999;
    line-height: 30px;
    width: -moz-calc(100% - 20px);
    width: -webkit-calc(100% - 20px);
    width: calc(100% - 20px);
    background-color: #1e1e1e;
    border-bottom: 1px solid black !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 3px !important;
    padding-bottom: 2px !important;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.04) inset !important; }
    #bttvSettingsPanel .option:nth-child(2n) {
      background-color: #232323; }
    #bttvSettingsPanel .option a {
      color: #D3D3D3; }
  #bttvSettingsPanel .nav {
    list-style: none;
    display: inline-block;
    margin: 0 10px 0 0;
    vertical-align: middle; }
    #bttvSettingsPanel .nav li {
      float: left;
      line-height: 18px; }
      #bttvSettingsPanel .nav li a {
        padding-bottom: 9px;
        padding-left: 15px;
        padding-right: 15px;
        color: #adafae;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
        text-decoration: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        font-family: "Korolev-Bold","HelveticaNeue-CondensedBold","ArialNarrow-Bold","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 18px;
        font-weight: normal; }
        #bttvSettingsPanel .nav li a:hover {
          border-bottom: 1px solid #ff0000;
          color: #D3D3D3; }
    #bttvSettingsPanel .nav .active a {
      border-bottom: 1px solid #ff0000;
      color: #D3D3D3; }
      #bttvSettingsPanel .nav .active a:hover {
        border-bottom: 1px solid #ff0000;
        color: #D3D3D3; }
  #bttvSettingsPanel #bttvAbout .aboutHalf {
    width: -moz-calc(50% - 30px);
    width: -webkit-calc(50% - 30px);
    width: calc(50% - 30px);
    display: inline-block;
    float: left;
    background-color: #232323;
    border-radius: 3px;
    margin: 10px;
    padding: 5px;
    text-align: center;
    height: 395px; }
    #bttvSettingsPanel #bttvAbout .aboutHalf a {
      color: #888; }
    #bttvSettingsPanel #bttvAbout .aboutHalf p {
      text-align: left;
      text-indent: 18px; }
    #bttvSettingsPanel #bttvAbout .aboutHalf .bttvAboutIcon {
      margin-top: 90px; }
  #bttvSettingsPanel h1 {
    font-size: 26px;
    color: #D3D3D3; }
  #bttvSettingsPanel #bttvPrivacy .tse-content {
    padding: 15px; }
  #bttvSettingsPanel #bttvPrivacy ul {
    padding-left: 10px; }
  #bttvSettingsPanel #bttvChangelog .tse-content {
    padding: 15px; }
  #bttvSettingsPanel #bttvChangelog ul {
    padding-left: 10px; }
  #bttvSettingsPanel #bttvPrivacy p {
    padding-left: 10px;
    padding-top: 10px; }
  #bttvSettingsPanel #bttvPrivacy strong {
    margin-left: -5px; }
  #bttvSettingsPanel .scroll-dark .tse-scrollbar .drag-handle {
    width: 7px; }

.bttv-switch {
  position: relative;
  float: right;
  right: 7px;
  height: 26px;
  width: 120px;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1); }
  .bttv-switch-label {
    position: relative;
    z-index: 2;
    float: left;
    width: 58px;
    line-height: 26px;
    font-size: 11px;
    color: rgba(255, 255, 255, 0.35);
    text-align: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
    cursor: pointer; }
    .bttv-switch-label:active {
      font-weight: bold; }
    .bttv-switch-label-off {
      padding-left: 2px; }
    .bttv-switch-label-on {
      padding-right: 2px; }
  .bttv-switch-input {
    display: none; }
    .bttv-switch-input:checked {
      font-weight: bold;
      color: rgba(0, 0, 0, 0.65);
      text-shadow: 0 1px rgba(255, 255, 255, 0.25);
      -webkit-transition: 0.15s ease-out;
      -moz-transition: 0.15s ease-out;
      -o-transition: 0.15s ease-out;
      transition: 0.15s ease-out; }
      .bttv-switch-input:checked + .bttv-switch-label-on {
        font-weight: bold;
        color: rgba(0, 0, 0, 0.65);
        text-shadow: 0 1px rgba(255, 255, 255, 0.25);
        -webkit-transition: 0.15s ease-out;
        -moz-transition: 0.15s ease-out;
        -o-transition: 0.15s ease-out;
        transition: 0.15s ease-out; }
        .bttv-switch-input:checked + .bttv-switch-label-on ~ .bttv-switch-selection {
          left: 60px; }
      .bttv-switch-input:checked + .bttv-switch-label-off {
        font-weight: bold;
        color: #D3D3D3;
        text-shadow: 0 1px rgba(0, 0, 0, 0.25);
        -webkit-transition: 0.15s ease-out;
        -moz-transition: 0.15s ease-out;
        -o-transition: 0.15s ease-out;
        transition: 0.15s ease-out; }
        .bttv-switch-input:checked + .bttv-switch-label-off ~ .bttv-switch-selection {
          background: #111;
          box-shadow: none; }
  .bttv-switch-selection {
    display: block;
    position: absolute;
    z-index: 1;
    top: 2px;
    left: 2px;
    width: 58px;
    height: 22px;
    background: #65bd63;
    border-radius: 3px;
    background-image: -webkit-linear-gradient(top, #C54E4E, #AB2525);
    background-image: -moz-linear-gradient(top, #C54E4E, #AB2525);
    background-image: -o-linear-gradient(top, #C54E4E, #AB2525);
    background-image: linear-gradient(to bottom, #C54E4E, #AB2525);
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
    -webkit-transition: left 0.15s ease-out;
    -moz-transition: left 0.15s ease-out;
    -o-transition: left 0.15s ease-out;
    transition: left 0.15s ease-out; }
  .bttv-switch-off {
    color: #D3D3D3; }
